.App {
    text-align: center;
}

.App-header {
    height: 40%;
    background-color: #660022;
    background-repeat: no-repeat;
    overflow: hidden;
    color: white;
    background: contain;
    -webkit-background-size: cover;
     -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.App-title {
    padding: 10%;
    font-size: 1.5em;
}

.todo-wrapper {
    padding: 10%;
    height: 300px;
    margin: 10%;
    background-color: black;
    color: dimgrey;
    letter-spacing: 1px;
}

li{
    list-style: none;
    text-align: center;
}

h1{
    font-size: 1.2em;
}
 #root > div > div.todo-wrapper > h1{
    margin-top: -7%;
    margin-bottom: 5%;
}


.timeWrapper{
    padding: 10%;
    height: 100px;
    margin: 10%;
    margin-top: -5%;
    background-color: black;
    color: dimgrey;
    letter-spacing: 1px;
}
.displayedTime{
    font-size: 2em;
}

 .currencyWrapper, .weatherWrapper, .timerWrapper{
    padding: 10%;
    height: 300px;
    margin: 10%;
    background-color: black;
    color: dimgrey;
    letter-spacing: 1px;
}

.timeHeadline, .todo-title, .timerHeadline, .currencyHeadline, .weatherHeadline{
    margin-bottom: 10%;
}

.weatherImage{
  height: 100px;
  width: 100px;
}

.timerWrapper.timesUp{
    background-color: #660022;
}
.timerButton.timesUpButton{
    background-color: black;
    border: none;
    color: dimgrey;
    margin: 2%;
    padding: 8px 15px;
   
}
.updateButton, .timerButton{
    margin: 2%;
    padding: 8px 15px;
    border: none;
}

#root > div > div.Wrapper > div.todo-wrapper > div > input[type="text"]{
    width: 100%;
    border: none;
    background-color: black;
    text-align: center;
    border-bottom: solid dimgrey 0.1px;
    padding: 10px;
    font-size: 1em;
    color: dimgrey;
}

input[type=text]:focus{
  outline: none;
}


.todoList{
    color:white;
    letter-spacing: 0.1em;
    font-size: 1em;
    list-style-type: none;
    text-align: center;
    margin-top:5%;
}
#root > div > div.todo-wrapper > ul > li{
    padding: 10px;
}

@media screen and (min-width: 768px) {

   

    }


@media screen and (min-width: 900px) {
    

    .Wrapper {
    margin-top: -100px;
    padding: 10%;
    padding-top: 2%;
    /*border: solid green;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.timeWrapper{
    padding-top: 50px;
    height: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

 .weatherWrapper, .currencyWrapper, .timerWrapper, .todo-wrapper{
    padding: 9%;
    height: 200px;
    width: 200px;
    margin: 2%;

    }



}

@media screen and (min-width: 1024px) {
    .Wrapper{
        padding:0px;
        justify-content: center;

    }

   
    
}





